
    body {
        color: #ffffff;
        background-image: url("img/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #000000;


    }
    div.transbox {
      padding: 2.5%;
      margin-right: 40%;
      margin-left: 40%;
      margin-top: 3%;
      margin-bottom: 1%;
      background-color: #000000;
      opacity: 0.7;
      border-radius: 2%;
    }

    div.oikea {
      padding: 2.5%;
      margin-left: 80%;
      margin-top: 4%;
      margin-bottom: 80%
      background-color: #000000;
      opacity: 0.7;
      border-radius: 2%;
      position: relative;
    }

    div.background {
      padding: 2px;
      opacity: 0.9;
    }

    div.transbox p {
      margin: 2%;
      font-weight: bold;
      color: #ffffff;
    }

    h1.otsikko {
        margin-right: 40%;
        margin-left: 40%;
        padding-top: 4%;
        font-size: 400%;
        text-shadow: 4px 4px #3C3C3C;
        color: red;
        font-family: "Papyrus", "Fantasy";
        }


    h2 {
        text-shadow: 4px 4px #3C3C3C;
    }

    li {
    color: red;
    padding: 2px;
    font-size: large;
    font-family: "Papyrus", "Fantasy";

    }

    select {
    background-color: #82161c;
    color: #ccc;
    }

    select:hover {
    background-color: #82161c;
    }

    select:active {
    background-color: #82161c;
    }

    textarea {
    background-color: #82161c;
    color: #ffffff;
    }

    .script {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 5px;
            cursor: pointer;
            font-size: 15px;
        }

        /* Hide the default checkbox */
        input[type=checkbox] {
            visibility: hidden;
        }

        /* creating a custom checkbox based
            on demand */
        .geekmark {
            position: absolute;
            top: 3px;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: #060e4f;
        }

        /* specify the background color to be
        shown when hovering over checkbox */
        .script:hover input ~ .geekmark {
            background-color: #82161c;
        }

        /* specify the background color to be
        shown when checkbox is active */
        .script input:active ~ .geekmark {
            background-image: #82161c;
        }

        /* specify the background color to be
        shown when checkbox is checked */
        .script input:checked ~ .geekmark {
            background-color: #82161c;
        }

        /* checkmark to be shown in checkbox */
        /* It is not be shown when not checked */
        .geekmark:after {
            content: "";
            position: relative;
            display: none;
        }

        /* display checkmark when checked */
        .script input:checked ~ .geekmark:after {
            display: block;
        }

        /* styling the checkmark using webkit */
        /* creating a square to be the sign of
            checkmark */
        .script .geekmark:after {

            width: 7px;
            height: 7px;
            border: solid #24bf13;
            border-width: 4px 4px 4px 4px;
        }

    input {
    background-color: #82161c;
    color: #ffffff;

    }

    input[type=submit] {
    background-color: #82161c;
    color: #ffffff;
    font-family: "Papyrus", "Fantasy";
    border: solid #ffffff 1px;
    border-radius: 8px;
    }

    input[type=button] {
    background-color: #82161c;
    color: #ffffff;
    font-family: "Papyrus", "Fantasy";
    border: solid #ffffff 1px;
    border-radius: 8px;
    }

    img {

        border-radius: 2%;
        float: left;
        padding: 1px;
        height: 120%;
        width: 90%;
        z-index: 9999;
    }

      .topright {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
    }






